#divPrincipal {
    border-style: solid;
    width: 100%;    
    margin: 0 auto;
}

#divBanner {
    width: 100%;
    height: 200px;
    background-image: url("../Imagens/gatinhos.jpg");
}

#navtopo1{
    font-weight: arial;
    background-color: #000000;
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    overflow:hidden;
    
}

#navtopo1 a{
    color:#d3d3d3;
    float: left;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    text-align: center;
    display:block;
    color: #ff6f9c;
    text-align:center;
    padding:15px;
    text-decoration:none;
}

#navtopo1 a:hover {
    text-align: center;
    background-color: #d3d3d3;
    color: #ff6f9c;
    
}

#divCentro {
    width:100%;  
}

#sectionEsquerda {
    width: 20%;
    float: left;
    text-align: center;
}

#sectionEsquerda img:hover{
    transform: scale(1.1);
}


#sectionMeio {
    width: 30%;
    float: left;
    text-align: center;

}

#sectionMeio img:hover{
    transform: scale(1.1);

}


#asideDireita {
    width: 45%;
    float: right;
    text-align:center;
}

    #asideDireita h1{
        background-color: rgb(5, 5, 5);
        color: #ff6f9c;

    }
        #asideDireita h2{
        background-color: rgb(5, 5, 5);
        color: #ff6f9c;

        }

.produto {
    width:80%;
}

#dibaixo{
    width: 100%;
    float: right;

}

#dibaixo img:hover{
    transform: scale(1.1);
}

#dibaixo h1{
    background-color: rgb(5, 5, 5);
    color: #ff6f9c;
    text-align: center;
    border-style: double;

}



footer {
    width:96,5%;
    text-align: center;
    background-color: rgb(5, 5, 5);
    color: #ff6f9c;
    font-weight: bold;
    padding:20px;
}

#ultimaparte{
    width: auto;
}

#ultimaparte{
    text-align: center;
}

#mima{
    border: 10px solid #fff;
    text-shadow: #000000;
    justify-content: space-evenly;
    text-align: center;
    width:96,5%;
    gap: 2vw;
    padding: 0 1vw;
    object-fit: cover;
}

#mima img:hover{
    transform: scale(1.1);
}

#img-container{
    box-shadow: 5px 5px 5px #000000;
    border: 10px solid #ff6f9c;
    justify-content: space-evenly;
    object-fit: cover;

}

